{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <font color="#ffffff"> Data de publicação: {{post.published_date }}</font>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
             <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon
             glyphicon-pencil"></span></a>
        {% endif %}

        <h2><font color="#ffffff">{{ post.title }}</font></h2>
        <p><font color="#ffffff">{{ post.text|linebreaksbr }}</font></p>
    </div>
{% endblock %}