{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
       <div class="content container">
         <div class="row">
            <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>published: {{ post.published_date }}</p>
                        </div>
                        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
            </div>
         </div>

           <ul><li><font color="#b33a8d">ZIP</font></li><li><font color="#bc1086">ZOP</font></li><li><font color="#791358">PLIC</font><li><font color="#f600a8">PLAC</font></li></ul>
           <p><font color="#f6004a">FALA TIME</font> </p>
           <p><font color="#f6004a">É SÓ UM SITE</font> </p>
           <p><font color="#f6004a">ESTOU FUNCIONANDO</font> </p>
           <p><font color="#f6004a">PRIMEIRA CRAÇÃO</font> </p>
       </div>

       {% endfor %}
{% endblock %}