{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
       <div class="content container">
         <div class="row">
            <div class="col-md-8">
                    <div class="post">
                        <div class="date">
                            <p>published: {{ post.published_date }}</p>
                        </div>
                        <h2><a href="{% url 'post_detail' pk=post.pk %}"><font color="#ffffff">{{ post.title }}</font></a></h2>
                        <p><font color="#ffffff">{{ post.text|linebreaksbr }}</font></p>
                    </div>
            </div>
         </div>

       </div>




{% endfor %}

         </div>

               <ul><li><font color="#ffffff"><font face="Cambria">ZIP</font></font></li><li><font color="#ffffff"><font face="Cambria">ZOP</font></font></li>
                   <li><font color="#ffffff"><font face="Cambria">PLIC</font></font><li><font color="#ffffff"><font face="Cambria">PLAC</font></font></li></ul>
               <p><font color="#ffffff"><font face="Cambria">FALA TIME</font></font></p>
               <p><font color="#ffffff"><font face="Cambria">NÃO É SÓ UM SITE</font> </font></p>
               <p><font color="#ffffff"><font size=+2><font face="Cambria"><b>É O SITE </b></font></font></font></p>
               <p><font color="#ffffff"><font face="Cambria">E ELE ESTÁ FUNCIONANDO</font></font></p>


{% endblock %}