<html>
    <head>
        <title>O TIME</title>
    </head>

<body>
    <div>
        <h1><a href="/">GRANDE HTML</a></h1>
    </div>

    <div>
        <h2>PEQUENO HTML</h2>
    </div>
    <a href="https://twitch.tv">link</a>

    <ul><li>ZIP</li><li>ZOP</li></ul>
    <p>FALA TIME!</p>
        <p>TA FUNCIONANDO!</p>
    <p>É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO </p>
    <p>É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO  É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO É PARA TESTAR O PARAGRAFO </p>

</body>
</html>

